.certificates {
  background-color: $black;
  padding: 25% 0 7%;

  &__title {
    margin: 0 0 20px 20px;
  }

  &__wrap {
    height: 90vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 32px;
    align-items: center;
    position: relative;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    z-index: 3;
    cursor: pointer;

    &:hover ~ .certificates__item {
      filter: none;
    }
  }

  &__item {
    display: none;
    width: 80%;
    margin: 0 auto;
    z-index: 1;
    transition: all .6s;
    grid-column: 1;
    grid-row: 1;
    filter: grayscale(100%);

    &:hover {
      filter: none;
    }

    &--showing {
      display: grid;
      align-items: center;
    }
  }

  .next,
  .prev {
    &:active {
      transform: scale(0.9);
    }
  }

  &__link {
    text-align: center;
  }

  &__pic {
    max-width: 100%;
    max-height: 80vh;
    margin: 0;
  }

  &__wrap--nojs {
    grid-template-rows: repeat(5, 1fr);
    height: auto;

    .certificates__controls {
      display: none;
    }

    .certificates__item {
      display: grid;
      align-items: center;
      margin-bottom: 30px;
      grid-row: 1 span;
      opacity: 1;
    }

    .slider__indicators {
      display: none;
    }
  }

  .slider__indicators {
    list-style: none;
    grid-row: 2;
    grid-column: 1;
    display: flex;
    padding: 0;
    justify-content: center;
    width: 100%;
  }
  
  .slider__indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: $black;
    opacity: 0.5;
    box-shadow: 0 0 3px rgba(255, 255, 255, .5);
    transition: all 1s;
    cursor: pointer;
  }
  
  .slider__indicators li:hover {
    background-color: $white;
  }
  
  .slider__indicators .active {
    background-color: $white;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  }

  @media (min-width: $screen-s) {
    &__wrap--nojs {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;

      .certificates__item {
        grid-column: 1 span;
      }
    }
  }

  @media (min-width: $screen-m) {
    padding: 7% 0 10%;

    .certificates__title {
      margin: 0 0 50px 20px;
    }
  }

  @media (min-width: $screen-l) {
    &__wrap--nojs {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@keyframes display {
  0% { opacity: 0 }
  10% { opacity: 0 }
  50% { opacity: 0.1 }
  60% { opacity: 0.2 }
  70% { opacity: 0.4 }
  80% { opacity: 0.6 }
  90% { opacity: 0.8 }
  100% { opacity: 1}
}

@keyframes fade {
  0% { opacity: 1 }
  50% { opacity: 0.5 }
  100% { opacity: 0}
}
