.portfolio {
  background-color: $black;
  padding: 25% 0 3%;

  &__title {
    width: 270px;
    margin-left: 20px;
  }

  &__card {
    margin: 50px 20px;
    background: $gradient-blue;
    padding: 5px;
    transition: 1s;
    filter: grayscale(100%);

    &:hover {
      filter: none;
    }
  }

  &__pic {
    width: 100%;
    height: auto;
    display: block;
  }

  &__desription {
    min-height: 60px;
    padding:  2% 5% 7%;

    h3 {
      font-weight: 400;
      text-align: left;
      font-size: 16px;
      line-height: 20px;
    }

    p {
      font-weight: 300;
      text-align: left;
      font-size: 15px;
      opacity: .7;
    }
  }

  @media (min-width: $screen-s) {
    padding: 7% 0 3%;

    &__cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &__card {
      margin: 20px;
    }
  }

  @media (min-width: $screen-m) {
    &__title {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $screen-l) {
    &__cards {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
