.skills {
  background-color: $black;
  padding: 30% 0 3%;
  font-weight: 500;
  font-size: 22px;
  line-height: 44px;

  &__title {
    margin: 0 0 20px 20px;
  }

  &__list {
    padding: 10px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 0 10px;
    }
  }

  span {
    margin: 10px;
    padding: 5px;
    background-color: $black;
    border-radius: 7px;
  }

  @media (min-width: $screen-s) {
    font-size: 22px;
    line-height: 44px;
  }

  @media (min-width: $screen-m) {
    padding: 7% 0 3%;
    font-size: 25px;
  }

  @media (min-width: $screen-l ){
    font-size: 27px;
    line-height: 50px;
  }
}
