.title {
  background-color: $black;
  min-height: 100vh;
  display: grid;
  align-items: center;

  &__container {
    padding: 60px 0;
    font-size: 16px;
    text-align: center;
  }

  &__text {
    font-weight: 500;
    font-size: 23px;
    margin: 40px auto;
    width: 90%;
  }

  &__avatar {
    position: relative;
    height: 125px;
    width: 125px;
    margin: 0 auto;
  }

  &__img {
    position: absolute;
    overflow: hidden;

    img {
      display: block;
      width: 125px;
      height: 125px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .slider {
    position: absolute;
    z-index: 2;
    cursor: ew-resize;
    width: 20px;
    height: 20px;
    background-color: $lite-grey;
    opacity: 0.7;
    border-radius: 50%;

    &:hover {
      background-color: $pink;
      opacity: 1;
    }
  }

  @media (min-width: $screen-s) {
    &__text {
      width: 80%;
    }
  }

  @media (min-width: $screen-m) {
    &__text {
      width: 60%;
      font-size: 30px;
      line-height: 50px;
    }
  }
}
