* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  @include font-main;

  background-color: $black;
  color: $white;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

.section-inner {
  margin: 0 auto;
  padding: 0 10px;

  @media (min-width: $screen-s) {
    padding: 0 3%;
  }

  @media (min-width: $screen-l) {
    max-width: 1170px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $white;
}

