$white: #ffffff;
$pink: #ec008c;
$orange: #f05a28;
$grey: #212121;
$lite-grey: #7c7c7d;
$black: #000000;
$blue: #009eb5;
$green: #4cb272;
$yelow: #f7a614;
$overlay: rgba(240, 240, 240, .95);
$gradient-sea: linear-gradient(to bottom left, $blue, $green);
$gradient-pink: linear-gradient(to bottom left, $orange, $pink);
$gradient-grey: linear-gradient(180deg, $lite-grey 0, $grey 100%);
// $gradient-blue: linear-gradient(145deg, #2556a3 0, #2393d4 100%);
$gradient-blue: linear-gradient(to top right, #65316b, #009eb5);

$screen-s: 568px;
$screen-m: 768px;
$screen-l: 1200px;
